<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Rails 7 Setup</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

  <!-- Custom fonts for this template-->
  <%= stylesheet_link_tag "fontawesome-free/css/all.min.css" %>

  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <% if notice %>
                <p class="notice alert-warning"><%= notice %></p>
              <% end %>
              <% if alert %>
                <p class="alert alert-danger"><%= alert %></p>
              <% end %>
            </div>

            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "user" }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>

<!--              <div class="form-group row">-->
<!--                <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                  <input type="text" class="form-control form-control-user" id="exampleFirstName"-->
<!--                         placeholder="First Name">-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                  <input type="text" class="form-control form-control-user" id="exampleLastName"-->
<!--                         placeholder="Last Name">-->
<!--                </div>-->
<!--              </div>-->
              <div class="form-group">
                <%= f.email_field :email,
                                  autofocus: true,
                                  autocomplete: "email",
                                  placeholder: "Email Address",
                                  class: "form-control form-control-user" %>
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.password_field :password,
                                       autocomplete: "new-password",
                                       placeholder: "Password",
                                       class: "form-control form-control-user" %><br />
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>
                <div class="col-sm-6">
                  <%= f.password_field :password_confirmation,
                                       autocomplete: "new-password",
                                       placeholder: "Repeat Password",
                                       class: "form-control form-control-user" %>
                </div>
              </div>
              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-primary btn-user btn-block" %>
              </div>

            <% end  %>
            <hr>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <div class="text-center">
                <%= link_to "Forgot your password?", new_password_path(resource_name), class: "small" %><br />
              </div>
            <% end %>

            <%- if controller_name != 'sessions' %>
              <div class="text-center">
                <%= link_to "Already have an account? Login!", new_session_path(resource_name), class: "small" %><br />
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Bootstrap core JavaScript-->
<%= javascript_include_tag "jquery/jquery.min.js" %>
<%= javascript_include_tag "bootstrap/js/bootstrap.bundle.min.js" %>

<!-- Core plugin JavaScript-->
<%= javascript_include_tag "jquery-easing/jquery.easing.min.js" %>

<!-- Custom scripts for all pages-->
<%= javascript_include_tag "sb-admin-2.min.js" %>

</body>

</html>